ClassLibrary1/WindowsFormsClient/Service References/SampleSvc/SampleService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:GetWeatherRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetWeatherRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TemperatureType" type="tns:TemperatureType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TemperatureType">
        <s:restriction base="s:string">
          <s:enumeration value="Fahrenheit" />
          <s:enumeration value="Celsius" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetWeatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeatureResult" type="tns:GetWeatherResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetWeatherResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Condition" type="tns:TemperatureCondition" />
          <s:element minOccurs="1" maxOccurs="1" name="Temperature" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TemperatureCondition">
        <s:restriction base="s:string">
          <s:enumeration value="Rainy" />
          <s:enumeration value="Sunny" />
          <s:enumeration value="Cloudy" />
          <s:enumeration value="ThunderStorm" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseStringSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="ReverseStringSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeatureSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeature" />
  </wsdl:message>
  <wsdl:message name="GetWeatureSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeatureResponse" />
  </wsdl:message>
  <wsdl:portType name="SampleServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input message="tns:ReverseStringSoapIn" />
      <wsdl:output message="tns:ReverseStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeature">
      <wsdl:input message="tns:GetWeatureSoapIn" />
      <wsdl:output message="tns:GetWeatureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleServiceSoap" type="tns:SampleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeature">
      <soap:operation soapAction="http://tempuri.org/GetWeature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SampleServiceSoap12" type="tns:SampleServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap12:operation soapAction="http://tempuri.org/ReverseString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeature">
      <soap12:operation soapAction="http://tempuri.org/GetWeature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="SampleServiceSoap" binding="tns:SampleServiceSoap">
      <soap:address location="http://192.168.1.5:555/SampleService.asmx" />
    </wsdl:port>
    <wsdl:port name="SampleServiceSoap12" binding="tns:SampleServiceSoap12">
      <soap12:address location="http://192.168.1.5:555/SampleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>